<div class="content-container">
  <h3 class="pb-3 margin-top drop-shadow">Find a recipe</h3>
  <form action="/import" method="POST" class="search-bar">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="chocolate, curry, banana..." name="ingredient" autocomplete="off">
      <div class="input-group-append">
        <button class="btn btn-purple" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>
