<div class="content-container flex form-container">
  <form action="/login_check" method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" autocomplete="off">
    </div>

    <button type="submit" class="btn btn-block btn-purple mt-3">Log in</button>
    <div class="text-center mt-2">
      <small class="white">For demo purposes, you can use<br>
      username: <strong>demo01</strong>, password: <strong>demo</strong></p>
    </div>
  </form>
</div>
