<div class="content-container flex form-container">
  <form action="/signup_check" method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="password">Confirm password</label>
      <input type="password" class="form-control" id="password-confirmation" name="password-confirmation" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-block btn-purple mt-3">Register</button>
  </form>
</div>
