<div class="content-container flex form-container">
  <div>
    <h2 class="white">Incorrect Username</h2>
    <a href="/login" class="btn btn-block btn-purple mt-3">Try again</a>
    <a href="/signup" class="btn btn-block btn-light mt-3">Sign up</a>
  </div>
</div>
